* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;

  }
  
  body, html, .App, #root, .outer {
    width: 100%;
    height: 100%;
  }

#root {

    background-image: url('../history02.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
}

form {

    background-image: url('../login02.jpeg');
    background-size: 100%;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
    top: 20%;

}

input{
  position: absolute;
  margin: auto;
  border: 0;
}

input[type="submit"] { 

  bottom: 10%;
  left: 25%;
  width: 50%;
  height: 15%;
  border-radius: 10px;

  } 

  input[type="text"] { 


    left: 25%;
    top: 20%;
    width: 70%;
    height: 10%;
    border-radius: 5px;
    background-color: khaki;
  }

  input[type="password"] { 

    left: 25%;
    top: 40%;
    height: 10%;
    width: 70%;
    border-radius: 5px;
    background-color: khaki;  
  }

  .loginName{
    top: 25%;
  }


  .userName { 

    left: 5%;
    top: 20%;
  }
  
  .userPwd { 

    left: 5%;
    top: 40%;
  }

  label{
    position: absolute;
  }